body{    background-color:green;
    color: white;
    height: 100%;
}
footer{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
h1{
    display: flex;
    justify-self: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: row; 
}

